@import './../../../config';

.projects-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 20px;

  padding: 20px;

  border-radius: 5px;

  list-style: none;

  background-color: $BG_COLOR_DARK;

  -webkit-box-shadow: $BOX_SHADOW_GREY_INSET;
  -moz-box-shadow: $BOX_SHADOW_GREY_INSET;
  box-shadow: $BOX_SHADOW_GREY_INSET;
}
.projects-list__item {
  text-align: center;
}
.projects-list__jmg {
  max-width: 300px;
}
