@import './../../config';

.main {
  margin: 0 auto;
  max-width: $MAX_WIDTH;
  padding: 20px 20px 20px 0;

  border-radius: 5px;
  background-color: $BG_COLOR_DARK;

  -webkit-box-shadow: $BOX_SHADOW_DARK;
  -moz-box-shadow: $BOX_SHADOW_DARK;
  box-shadow: $BOX_SHADOW_DARK;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
