@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap');

html {
  font-size: 18px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 100;
  line-height: 1.5;
  color: #f2f2f7;
}

@media (min-width: 1400px) {
  body {
    padding: 0 10%;
  }
}

@media (max-width: 1400px) {
  body {
    padding: 0 55px;
  }
}
@media (max-width: 1000px) {
  html {
    font-size: 16px;
  }

  body {
    padding: 0 50px 0 10px;
  }
}

@media (max-width: 800px) {
  html {
    font-size: 14px;
  }

  body {
    padding: 0 40px 0 10px;
  }
}

@media (max-width: 640px) {
  html {
    font-size: 16px;
  }
  body {
    padding: 60px 3px 0 3px;
  }
}
